* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #fff;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #000000;
    height: 90vh;
}
